.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #e0e0e0;
  transition: 300ms
}

h4, h5 {
  margin: 0px;
  padding: 0px;
}

h5 {
  font-size: 21px;
  font-weight: 200;
  text-transform: capitalize;
}
